{% extends 'base.html' %}

{% block content %}
      <div class="starter-template">
	<h2>What do you think of what you've already had?</h2>
	<h3>Select one or more scotches that you like or don't like.</h3>
      </div>

      <div class="container">

	<form action="/output" method="GET">
	  <div>
	    <label for="likes">Liked Products:</label>
	    <select id="likes" name="likes" class="selectpicker" multiple data-live-search="true" data-width="auto">
	      {% for scotch in scotch_list %}
	      <option>{{ scotch }}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <br>
	  <div>
	    <label for="dislikes">Disliked Products:</label>
	    <select id="dislikes" name="dislikes" class="selectpicker" multiple data-live-search="true" data-width="auto">
	      {% for scotch in scotch_list %}
	      <option>{{ scotch }}</option>
	      {% endfor %}
	    </select>
	  </div>
	  <br>
	  <div>
	    <label for="low_price">Price Range (USD):</label>
	    <input type="text" id="low_price" name='low_price' value="0">
	    -
	    <input type="text" id="high_price" name='high_price' value="10000">
	  </div>
	  <br>
	  <div>
	    <button type="submit" class="btn btn-default btn-lg">Find something new!</button>
	  </div>	  
	</form>
      </div> 
{% endblock %}
