{% extends 'base.html' %}

{% block content %}
      <div class="starter-template">
	<h2>Recommendations</h2>
	<h3>Here are other scotches you might enjoy, and the notes they have in common with your favorites</h3>
      </div>
      
      <table class="table table-hover">
	<tr><th>Name</th><th>Price (USD)</th><th>Region</th><th>Nose Notes</th><th>Palate Notes</th><th>Finish Notes</th></tr>
	{% for scotch in scotches %}
	<tr><td>{{ scotch['name']}}</td><td>{{ scotch['price'] }}</td><td>{{ scotch['region'] }}</td><td>{{ scotch['nose'] }}</td><td>{{ scotch['palate'] }}</td><td>{{ scotch['finish'] }}</td></tr>
	{% endfor %}
      </table>
{% endblock %}
